Dir::Etc::main "$JOB/snapshot/empty.conf";
Dir::Etc::parts "$JOB/snapshot/empty";
Dir::Etc::sourcelist "$JOB/snapshot/sources.sources";
Dir::Etc::sourceparts "$JOB/snapshot/empty";
Dir::Etc::preferences "$JOB/snapshot/preferences";
Dir::Etc::preferencesparts "$JOB/snapshot/empty";
Dir::Etc::trusted "$JOB/snapshot/keyring.gpg";
Dir::Etc::trustedparts "$JOB/snapshot/empty";
Dir::Etc::netrc "$JOB/snapshot/empty.conf";
Dir::Etc::netrcparts "$JOB/snapshot/empty";
Dir::Bin::dpkg "/usr/bin/dpkg";
Dir::Bin::methods "/usr/lib/apt/methods";
Dir::State::lists "$JOB/lists/";
Dir::State::status "/var/lib/dpkg/status";
Dir::State::extended_states "$JOB/extended_states";
Dir::Cache::archives "$JOB/archives/";
Dir::Cache::pkgcache "";
Dir::Cache::srcpkgcache "";
Dir::Log "$JOB/log";
APT::Architecture "amd64";
APT::Architectures { "amd64"; };
APT::Update::Error-Mode "any";
APT::Get::AllowUnauthenticated "false";
APT::Get::Allow-Downgrades "false";
APT::Get::Allow-Change-Held-Packages "false";
APT::Install-Recommends "false";
APT::Install-Suggests "false";
Acquire::AllowInsecureRepositories "false";
Acquire::AllowWeakRepositories "false";
Acquire::AllowDowngradeToInsecureRepositories "false";
Acquire::Check-Valid-Until "true";
Acquire::Check-Date "true";
Acquire::GzipIndexes "false";
Acquire::PDiffs "false";
Acquire::Languages "none";
Acquire::Retries "0";
Acquire::http::Timeout "30";
Acquire::https::Timeout "30";
DPkg::Lock::Timeout "0";
DPkg::Options { "--force-confold"; };
DPkg::Pre-Install-Pkgs { "/usr/libexec/tracebolt-package-guard $ID"; };
DPkg::Tools::Options::/usr/libexec/tracebolt-package-guard::Version "3";
DPkg::Tools::Options::/usr/libexec/tracebolt-package-guard::InfoFD "0";
